<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            padding: 20px;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        .message {
            color: rgb(35, 148, 95);
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Status Page</h1>
        <p>This is a status page with some Slovak individual.</p>
        <img src="{{ url_for('static', filename='images/Pozdrav_z_dovolene.jpg') }}" alt="Placeholder Image">
        {% if message %}
            <p class="message">{{ message }}</p>
        {% endif %}
    </div>
</body>
</html>